body {
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight: 900;
  background: url(background2.png) repeat;
  background-color: lavender;
  
}
#wrapper {
  width: 1200px;
  margin: 20px auto;
}
