body {
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight: 900;
  background: url(background.png) repeat;
  background-color: lavender;
}
#wrapper {
  width: 960px;
  margin: 20px auto;
}
